<!DOCTYPE html>
<html lang="en" ng-app="search-artist">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Probando angularjs</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/loading-bar.css">
	<link rel="stylesheet" href="css/app.css">
</head>
<body ng-controller="artistCtrl as art">
	<div class="container-fluid">
		<div class="row top centered">
			<div class="col-sm-6 col-md-4"></div>
			<div class="col-sm-6 col-md-4">
				<input ng-model="art.query" type="text" ng-keyup="$event.keyCode == 13 && art.search()">
				<button ng-click="art.search()">Buscar...</button>
			</div>
			<div class="col-sm-6 col-md-4"></div>
		</div>

		<div ng-model="art.artists" class="row top centered">
		  	<div ng-repeat="artist in art.items" ng-show="artist.images.length" class="col-sm-6 col-md-4">
		    	<div ng-repeat="image in artist.images | orderBy: 'width' | limitTo: 2 | orderBy: '-width' | limitTo: 1" class="thumbnail">
		      		<img ng-src="{{image.url}}" alt="{{artist.name}}">
		      		<div class="caption">
		        		<h3>{{artist.name}}</h3>
		        		<p>
		        			<a class="btn btn-primary" href="{{artist.external_urls.spotify}}">
  							<i class="fa fa-user fa-lg"></i> Visitar perfil</a>
		        			<a href="#" class="btn btn-default" role="button">Ver albumes</a>
	        			</p>
		      		</div>
		    	</div>
		  	</div>
		</div>
	</div>
	<script src="js/angular.min.js"></script>
	<script src="js/loading-bar.js"></script>
	<script src="js/app.js"></script>
</body>
</html>